backend:
  name: test-repo
  branch: master
media_folder: static/img
collections:
    - label: "Blog"
      name: "blog"
      folder: "contend/"
      preview_path: blog/{{title}}
      create: true
      slug: "{{slug}}"
      fields: 
        - { label: "Title", name: "title", widget: "string"}
        - { label: "Publish Date", name: "date", widget: "datetime" }
        - { label: "Body", name: "body", widget: "markdown"}